.users-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.no-users {
  color: red;
  font-weight: bold;
}

.return-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.return-button:hover {
  background-color: rgb(15, 174, 10); /* Color when hovered */
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(204, 219, 222, 0.912); /* Background color of the container */
}

.users-table th,
.users-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.users-table th {
  background-color: #f4f4f4;
}

.users-table tr:nth-child(even) {
  background-color: #f9f9f9;
}