
  <div class="container">
      <h2><i><b>Administrateur</b></i></h2>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1"> Commande Rep</div>
          <div class="col col-1"> Repas</div>
          <div class="col col-2"> Transport</div>
          <div class="col col-3">Les Utilisateurs</div>
          <div class="col col-4">les Reclamation</div>
          <div class="col col-5">Mon Profil</div> 
          <div class="col col-6">Quitter</div>
        </li>
        <li class="table-row">
          <div class="col col-1">
            <div routerLink="/repas-a">Restaurant</div>
          </div>
          <div class="col col-1">
            <div routerLink="/commanderepas">cmd repas</div>
          </div>
          <div class="col col-2">
            <div routerLink="/trans">Chemins Reservés</div>
          </div>
          <div class="col col-3">
            <div routerLink="/users-a">Glob-users</div>
          </div>
          <div class="col col-4">
            <div routerLink="/reclam-admin">Show-rec</div>
          </div>
          <div class="col col-5">
            <div routerLink="/editp">Edit</div>
          </div>
          <div class="col col-6">
            <div (click)="logout()" class="logout-option">Log Out</div>
          </div>
        </li>
      </ul>
  </div>
  