<div class="show-reclamation-container">
  <button mat-raised-button color="accent" (click)="goToCentralPage()" class="return-button">retourner à la page centrale</button>

   <div class="title">Liste des reclamations</div>
    
    <div *ngIf="displayReclamations" class="reclamation-list">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Reclamation</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of reclamationList">
            <td>{{ item.id }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.reclam }}</td>
            <td>{{ item.created_at | date: 'short' }}</td>
          </tr>
        </tbody>
      </table>
      <!--pre>{{ reclamationList | json }}</pre-->
    </div>
  </div>
  