'<div class="center-container">

    <!-- Button to return to central page -->
    <button mat-raised-button color="accent" (click)="goToCentralPage()" class="return-button">Return to Central Page</button>


  <button mat-raised-button color="primary" (click)="showAddForm = !showAddForm">Ajouter un repas</button>
  <form *ngIf="showAddForm" [formGroup]="repasForm" (ngSubmit)="onSubmit()" class="repas-form">
    <mat-form-field>
      <mat-label>Nom du repas</mat-label>
      <input matInput formControlName="nom">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prixx</mat-label>
      <input matInput type="number" formControlName="prix">
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>
  <table mat-table [dataSource]="repasList" class="mat-elevation-z8 repas-table">
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom du repas </th>
      <td mat-cell *matCellDef="let repas"> {{repas.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="prix">
      <th mat-header-cell *matHeaderCellDef> Prix </th>
      <td mat-cell *matCellDef="let repas"> {{repas.prix | currency}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
 
</div>