<div class="transport-list">
  <button mat-raised-button color="accent" (click)="goToCentralPage()" class="return-button">Return to Central Page</button>

    <h2>Commandes de Transport</h2>
    
    <div *ngIf="errorMessage" class="error" role="alert">{{ errorMessage }}</div>
    
    <ul>
      <li *ngFor="let commande of commandesTrans">
        <strong>Transport Path:</strong> {{ commande.chemin }}<br>
        <strong>Departure:</strong> {{ commande.departure }}<br>
        <strong>Arrival:</strong> {{ commande.arrivee }}<br>
        <strong>Comment:</strong> {{ commande.commentaire }}<br>
        <hr>
      </li>
    </ul>
    
    <div *ngIf="!commandesTrans.length" class="no-data">No transport commandes found.</div>
</div>