<div class="header">
  <div class="header-content">
    <div class="marquee">
      <span class="marquee-text"><span class="blue-text">Global</span> <span class="green-text">ENR</span> a pour mission d'aider les entreprises à réduire leur consommation d'énergie, à améliorer leur performance environnementale et à realiser d'importantes économies. Nous sommes spécialisés dans les audits énergétiques, une étape clé pour comprendre la consommation d'énergie d'un bâtiment. En proposant des solutions innovantes en matière d'efficacité énergétique, nous aidons nos clients à atteindre leurs objectifs environnementaux et financiers tout en contribuant à un avenir plus durable pour tous. Notre vision est de devenir un leader mondial de l'efficacité énergétique en fournissant des solutions de qualité supérieure, en développant des partenariats durables et en nous engageant à offrir un service client exceptionnel.</span>
    </div>
   
  </div>
</div>
