
<div class="container">
    <h2><b>Table des Transports</b></h2>
    <button mat-raised-button color="accent" (click)="goToCentralPage()" class="return-button">Return to Central Page</button>

    <form (ngSubmit)="display()">
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th></th> <!-- Empty header since we are removing checkbox -->
                        <th>Id</th>
                        <th>Chemin</th>
                        <th>Departure</th>
                        <th>NbrePlace</th>
                        <th>Num ID</th> <!-- Added header for Num ID -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of transports">
                        <td></td> <!-- Empty cell since we are removing checkbox -->
                        <td>{{ item.id }}</td>
                        <td>{{ item.adresseDest }}</td>
                        <td>{{ item.dateDepart }}</td>
                        <td>{{ item.NbrePlace }}</td> <!-- Ensure this matches the property in your model -->
                        <td>{{ item.numID }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </form>
  </div>

