<div class="repas-list">
  <button mat-raised-button color="accent" (click)="goToCentralPage()" class="return-button">retourner à la page centrale</button>

    <h2>Commandes de Repas</h2>
    
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    
    <div class="table-container">
      <ul class="commandes-list">
        <li *ngFor="let commande of commandesRepas">
          nom du repas : {{ commande.nomR }} <br>
          Quantity: {{ commande.quantity }}<br>
          Comment: {{ commande.commentaire }}<br>
          CIN: {{ commande.cin }}<br>
          <hr>
        </li>
      </ul>
    </div>
    
    <div *ngIf="!commandesRepas.length" class="no-data">No commandes found.</div>
  </div>


