.repas-list {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f9f9f9;
  }

  .return-button {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .error {
    color: red;
    text-align: center;
  }
  
  .no-data {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
  }