<div class="repas-list">
  <button mat-raised-button color="accent" (click)="goToCentralPage()" class="return-button">Return to Central Page</button>

    <h2>Commandes de Repas</h2>
    
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    
    <ul>
      <li *ngFor="let commande of commandesRepas">
        
        nom du repas : {{ commande.nom_du_repas }} <br>
        Quantity: {{ commande.quantity }}<br>
        Comment: {{ commande.commentaire }}<br>
        CIN: {{ commande.cin }}<br>
        <hr>
      </li>
    </ul>
    
    <div *ngIf="!commandesRepas.length" class="no-data">No commandes found.</div>
  </div>