<div class="container">
  <h2>Table des Transports</h2>
  <form (ngSubmit)="display()">
      <table class="table">
          <thead>
              <tr>
                  <th><input type="checkbox" (change)="selectAll($event)" /></th>
                  <th>Id</th>
                  <th>Chemin</th>
                  <th>Departure</th>
                  <th>Arrivée</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of transports">
                  <td><input type="checkbox" [(ngModel)]="item.selected" name="item{{ item.id }}" /></td>
                  <td>{{ item.id }}</td>
                  <td>{{ item.adresseDest }}</td>
                  <td>{{ item.dateDepart }}</td>
                  <td>{{ item.heureDepart }}</td> <!-- Ensure this matches the property in your model -->
                  <td>{{ item.selected }}</td>
              </tr>
          </tbody>
      </table>
      <button type="submit">Submit</button>
  </form>
</div>


