
<div class="sidebar">
  <div class="sidebar-content">
    <div class="profile-pic-container" *ngIf="profilePicUrl">
      <img [src]="profilePicUrl" alt="Profile Picture" class="profile-pic-sidebar" />
    </div>
    <div class="contact">
      <h1>Contact</h1>
      <p>N'hésitez pas à nous contacter pour toute demande d'information.</p>
      <div class="contact-info">
        <p><i class="fas fa-phone"></i> <span class="black">téléphone:</span> +216 36 044 033</p>
                                        
        <p><i class="fas fa-envelope"></i> <span class="black">Email:</span> contact&#64;
          globalenr.com </p> 
            
                                            
        <p><span class="black">Addresse:</span> <p><i class="fas fa-map-marker-alt"></i> 
          <a href="https://www.google.com/maps/search/?api=1&query=Immeuble+Wafa%2C+Avenue+De+La+Bourse%2C+Tunis" target="_blank" class="map-link">Voir sur Google Maps</a>
        </p> 
                                            
      </div>
      
      <div class="social-media">
        <a href="https://www.facebook.com/profile.php?id=100090229151705" target="_blank" class="social-icon">
          <img src="../../assets/facebook.png" alt="Facebook" class="map-button">      
        </a>
        <a href="https://www.linkedin.com/company/globalenr/mycompany/" target="_blank" class="social-icon">
          <img src="../../assets/linkedin.png" alt="LinkedIn" class="map-button">      
        </a>
        <a href="https://www.instagram.com/global.enr" target="_blank" class="social-icon">
          <img src="../../assets/instagram.png" alt="Instagram" class="map-button">      
        </a>
      </div>
    </div>
    </div>

   


</div>



