.center-container {
  text-align: center;
  margin: 20px;
}


.button-icon {
  width: 70px; /* Set image width */
  height: 50px; /* Set image height */
}
.repas-list {
  margin-top: 20px;
}

.repas-table {
  width: 100%;
}

.return-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.show {
  font-weight: bold;  /* Makes the text bold */
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden;    /* Hides any overflow text if it extends beyond the container */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowing text */
  font-size: 24px;  
}