.center-container {
  text-align: center;
  margin: 20px;
}

.repas-list {
  margin-top: 20px;
}

.repas-table {
  width: 100%;
}

.show {
  font-weight: bold;  /* Makes the text bold */
  white-space: nowrap; /* Prevents text from wrapping to the next line */
  overflow: hidden;    /* Hides any overflow text if it extends beyond the container */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowing text */
  font-size: 24px;  
}