<div class="reclamation-container">
  <button mat-raised-button color="primary" (click)="showAddForm = !showAddForm">Ajouter une réclamation</button>
  
  <form *ngIf="showAddForm" [formGroup]="reclamationForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Email d'envoi</mat-label>
      <input matInput formControlName="emailEnvoi">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Texte de la réclamation</mat-label>
      <textarea matInput formControlName="texte"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </form>
</div>
